<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand">EarDogged</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav"></div>
    </div>

    <% if (user) { %>
    <div class="spacing">Logged In As: <%=user.email%>!</div>
    <form class="adjustment" action="/logout" method="POST">
      <button class="btn btn-outline-dark" type="submit">Logout</button>
    </form>
    <% } else { %>
    <a class="btn btn-success" style="margin-right: 100px;" href="/signin"
      >Sign in</a
    >

    <a class="btn btn-success" style="margin-right: 100px;" href="/register"
      >Sign up</a
    >
    <% } %>
  </nav>
</header>

<style>
  .adjustment {
    float: left;
  }

  .spacing {
    padding-right: 15px;
  }

  .input-align {
    margin-right: 20px;
  }
</style>
