<header>
  <nav class="navbar">

    <div class="logo-search">

      <!-- <div><img src="../../styles/assets/logo.png" alt="dogEared logo" /></div>
      action needs to point to search form -->
      <form class="form-inline" action="/resources" method="GET">
        <button type="submit" class="btn btn-outline-light">
          <h4>dogEared</h4>
        </button>
      </form>
      <form class="form-inline" action="/search" method="GET">
        <button type="submit" class="btn btn-outline-light"><i class="fas fa-search"></i></button>
      </form>
      <form class="form-inline" action="/new" method="GET">
        <button type="submit" class="btn btn-outline-light">
          <i class="fas fa-plus-circle"></i></button>
      </form>
    </div>

    <div class="user-login">
      <!-- Check if user is NOT logged in -->
      <% if(!user.loggedin) { %>
      <form class="form-inline" action="/signin" method="GET">
        <button type="submit" class="btn btn-outline-light">
          <h4>Login</h4>
        </button>
      </form>
      <form class="form-inline" action="/signup" method="GET">
        <button type="submit" class="btn btn-outline-light">
          <h4>Register</h4>
        </button>
      </form>
      <!-- if user is loggedin -->
      <% } else { %>
      <form class="form-inline" action="/user" method="GET">
        <button type="submit" class="btn btn-outline-light">
          <h4>My Account</h4>
        </button>
      </form>
      <form class="form-inline" action="/signout" method="POST">
        <button type="submit" class="btn btn-outline-light">
          <h4>Logout</h4>
        </button>
      </form>
      <% } %>
    </div>
  </nav>
</header>
