<!-- form to submit rating and comment NEED TO ADD POST ROUTE-->
<form action="<%= `/rate/${resource.id}`%>" method="POST">
  <select name="rating" id="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <input class="comment_form" type="text" name="comment" />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>