
<!-- title linked to the external resource -->
<h2><a href="<% resource_info.url %>"><% resource_info.title %></a></h2>

<!-- image -->
<img src="<% resource_info.thumbnail_url %>" alt="resource thumbnail">

<div class="input-label-pair">
  <h5>Topic:</h5>
  <p><% resource_info.category_name %> </p>
</div>

<div class="input-label-pair">
  <h5>Average Rating:</h5>
  <p><% resource_info.average_rating %> </p>
</div>

<div class="input-label-pair">
  <h5>Description:</h5>
  <p><% resource_info.description %> </p>
</div>


