<select name="topic" id="topic_dropdown">
  <option value="" selected disabled>Select Topic</option>

  <% for (const topic of topics) { %>
  <option value="<%= topics.indexOf(topic) %>"><%= topic.name %></option>
  <% } %>

</select>
