<!-- INFO NEEDED FOR THIS PAGE
log in- or not
the user ID
user email (for display in nav)
resource object:
title, thumbnail, url, description, average rating
all rating and all comments associated with this resource
-->

<!-- INFO OUT GOING:
edit field
delete resource
comment or rating
 -->

<!DOCTYPE html>
<html lang="en">

<head>
  <title>dogEared</title>
  <!-- Normalization -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <!-- Font import -->
  <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600;700&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;500&display=swap" rel="stylesheet" />

  <!-- font awesome icons -->
  <script src="https://kit.fontawesome.com/948f369b19.js" crossorigin="anonymous"></script>

  <!-- Styles -->
</head>

<body>
  <!-- style notes: two column -->
  <main>
    <section class="resource-info">
      <!-- information about resource -->
      <%- include('partials/resource_info') %>

      <!-- show editing and deleting capabilities if user is resoure is owner and if resources is already saved -->
      <% if (resource_info.owner) { %>
      <!-- NEED TO CHECK ROUTES -->
      <form action="/edit" method="GET">
        <button type="submit" class="btn btn-primary">Edit</button>
      </form>
      <form action="/delete" method="GET">
        <button type="submit" class="btn btn-primary">Delete</button>
      </form>
      <!-- show save resource option if not owner -->
      <% } else {
         if(resouce_info.saved) { %>
      <form action="/unsave" method="GET">
        <button type="submit" class="btn btn-primary">Unsave</button>
      </form>
      <% } else { %>
      <form action="/save" method="GET">
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
      <%   }
        } %>

    </section>
    <section class="ratings">
      <%- include('partials/ratings_form') %>
      <%- include('partials/ratings_comments') %>
    </section>
  </main>
</body>

</html>
