<!-- INFO NEEDED FOR THIS PAGE
log in- or not -->

<!DOCTYPE html>
<html lang="en">

<head>
  <title>dogEared</title>
  <!--Bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!-- Normalization -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <!-- Font import -->
  <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;500&display=swap" rel="stylesheet">

  <!-- font awesome icons -->
  <script src="https://kit.fontawesome.com/948f369b19.js" crossorigin="anonymous"></script>

  <!-- Styles -->
  <link rel="stylesheet" href="css/main.css" type="text/css" />

</head>

<body class="landing-page">
  <!-- <div class="wraper">
    <section class="module-cover parallax text-center fullscreen">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>dogEared</h1>
            <p>
              <a class="btn btn-lg btn-circle btn-brand" href="/signin" method="GET">Login</a>
              <a class="btn btn-lg btn-circle btn-outline-new-white" href="/signup" method="GET">Register</a>
            </p>
          </div>
        </div>
      </div>
    </section>
  </div> -->
  <h1 class="title">dogEared</h1>

  <div class="inline-pair">
    <div class="landing-page-btn">
      <h1><a class="" href="/signin" method="GET">Login</a></h1>
    </div>
    <div class="landing-page-btn">
      <h1><a class="" href="/signup" method="GET">Register</a></h1>
    </div>
  </div>




  <!-- NEED ILLUSTRATION TO GO HERE -->

  <!-- Bootstracp JS or scripts goes here -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>
