<!DOCTYPE html>
<html lang="en">

<head>
  <title>dogEared</title>
  <!-- Normalization -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <!-- Font import -->
  <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;500&display=swap" rel="stylesheet">

  <!-- font awesome icons -->
  <script src="https://kit.fontawesome.com/948f369b19.js" crossorigin="anonymous"></script>

  <!-- Styles -->

</head>

<body>
  <%- include('partials/header') %>

  <main style="margin: 1em;">
    <h3>SEARCH</h3>

    <form class="form-inline" action="" method="POST">

      <div class="input-label-pair">
        <label for="keyword">Keyword:</label>
        <input class="form-control" type="text" name="keyword">
      </div>

      <!-- DROP DOWN MENU TOPIC NAME -->
      <select name="topic" id="topic_dropdown">
        <option value="" selected disabled>-- Select Topic --</option>
        <!-- loop through names of topics as it is structured in tempvars and make it an option MIGHT NEED TO CHANGE LATER -->
        <% const keys = Object.keys(topics); %>
        <% for (const topic of keys) { %>
        <option value="<% keys.indexOf(topic) %> "><% topics[topic] %></option>
        <% } %>
      </select>

      <!-- DROP DOWN MENU MINIMUM AVERAGE RATING -->
      <select name="min_rating" id="min_rating">
        <option value="" selected disabled>-- Minimum Rating --</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>

      <!-- button to submit search for resource -->
      <button type="submit" class="btn"><i class="fas fa-search"></i></button>
    </form>
  </main>

  <!-- Bootstracp JS or scripts goes here -->
</body>

</html>
