//Website Colour Scheme
$darkBackgroundColour: #2F4454;
$coolPrimaryColour: #1C3334;
$coolAccentColour: #376E6F;
$warmPrimaryColour: #2E151B;
$warmAccentColour: #DA7B93;
$lightTextColour: snow;
$darkAccentColour: black;

$titleFont: 'Titilium Web';
$titleFontWeight: 700;
$headerFontWeight: 600;
$textFont: 'Fira Sans';
$textFontHeavyWeight: 500;
$textFontLightWeifht: 400;


